
@{
	ViewBag.Title = "error2";
}


<div class="alert alert-danger alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Error!</strong>Seleccione Un Valor Correcto en la Lista
</div>

<center>
	@Html.ActionLink("Atras", "Index", "Trazabilidad", new { area = "" }, new { @class = "btn btn-success" })
</center>
