
@{
	ViewBag.Title = "FormTrazabilidad";
	List<AppWebVideoJuego.Models.Tarea> modelsTareas = (List<AppWebVideoJuego.Models.Tarea>) ViewData["modelsTareas"];
	List<AppWebVideoJuego.Models.Estado> modelsEstados = (List<AppWebVideoJuego.Models.Estado>) ViewData["modelsEstados"];
}


	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Panel heading without title</div>
			<div class="panel-body">
				<center>
					<form method="post" action="/Trazabilidad/CreatedTrazabilidad">
						<div class="form-group">
							<label>Seleccione Tarea: </label>
							<select name="cbTarea" class="form-control">
								<option value="0">Seleccione...</option>
								@foreach (var tarea in modelsTareas)
								{									
									<option value="@tarea.GetId()">@tarea.GetNombre()</option>
								}
							</select>
						</div>
						<div class="form-group">
							<label>Seleccione Estado: </label>
							<select name="cbEstado" class="form-control">
								<option value="0">Seleccione...</option>
								@foreach (var estado in modelsEstados)
								{									
									<option value="@estado.GetId()">@estado.GetNombre()</option>
								}
							</select>
						</div>
						<div class="form-group">
							<label>Fecha: </label>
							<input type="date" name="fecha" id="datepicker" class="form-control" />
						</div>
						<div class="form-group">
							<label>Hora: </label>
							<input type="time" name="hora" class="form-control" />
						</div>
						<input type="submit" name="Guardar" value="Guardar" class="btn btn-primary" />
					</form>
				</center>
			</div>
		</div>
	</div>

