
@{
    ViewBag.Title = "FormTareaEstado";
}

<h2>FormTareaEstado</h2>

<div class="panel panel-primary">
	<div class="panel-heading">Nuevo Estado</div>
	<div class="panel-body">
		<center>
			@Html.Partial("_NuevoTareaEstado");
		</center>
	</div>
</div>