
@{
    ViewBag.Title = "FormEquipoDesarrollo";
}

<div class="container">
	<br />
	<div class="panel panel-default">
		<div class="panel-heading">Nuevo Equipo</div>
		<div class="panel-body">
			<center>
				@Html.Partial("_NuevoEquipo");
			</center>
		</div>
	</div>
</div>