<div class="container">
	@{
		ViewBag.Title = "NuevaTarea";
		List<AppWebVideoJuego.Models.EquipoDesarrollo> models = (List<AppWebVideoJuego.Models.EquipoDesarrollo>)ViewData["models"];
	}

	<h2 align="center">Nueva Tarea</h2>

	<div class="panel panel-default">
		<div class="panel-heading">Nueva Tarea</div>
		<div class="panel-body">
			<center>
				<form action="/Tarea/Created" method="post">
					<div class="form-group">
						<label>Nombre: </label>
						<input type="text" class="form-control" required placeholder="Nombre Tarea" name="txtNombre">
					</div>
					<div class="form-group">
						<label>Descripcion: </label>
						<textarea class="form-control" rows="3" name="txtDescripcion"></textarea>
					</div>
					<div class="form-group" >
						<label>Seleccione Equipo: </label>
						<select name="cbEquipo" class="form-control">
							@foreach (var item in models)
							{
								<option value="@item.Id">@item.Nombre</option>
							}
						</select>
					</div>
					<input type="submit" name="btnGuardar" value="Guardar" class="btn btn-primary" />
				</form>
			</center>
		</div>
	</div>
</div>