
@{
    ViewBag.Title = "successDelete";
}

<div class="alert alert-success alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Exito!</strong>Registro Eliminado Correctamente
</div>

<center>
	@Html.ActionLink("Atras", "ShowTareas", "Tarea", new { area = "" }, new { @class = "btn btn-success" })
</center>